<div class="text-center my-5">
  <h2>会員編集</h2>
</div>
<div class='container p-5'>
  <%= form_with model: @customer, url: public_customer_path, method: :patch do |f| %>
  <%= render "public/shared/error_messages", resource: @customer %>

    <div class="row justify-content-center">
      <div class="col-md-2 sm-6 mb-4">
        <h5>姓</h5>
        <%= f.text_field :last_name, class: "form-control", autofocus: true, autocomplete: "last_name" %>
      </div>
      <div class="col-md-2 sm-6 mb-4">
        <h5>名</h5>
        <%= f.text_field :first_name, class: "form-control", autofocus: true, autocomplete: "first_name" %>
      </div>
    </div>

    <div class="row justify-content-center">

      <div class="col-md-2 sm-6 mb-4">
        <h5>姓(カナ)</h5>
        <%= f.text_field :last_name_kana, class: "form-control", autofocus: true, autocomplete: "last_name_kana" %>
      </div>
      <div class="col-md-2 sm-6 mb-4">
        <h5>名(カナ)</h5>
        <%= f.text_field :first_name_kana, class: "form-control", autofocus: true, autocomplete: "first_name_kana" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-4 sm-8 mb-4">
        <h5>メールアドレス</h5>
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-4 sm-8 mb-4">
        <h5>電話番号(ハイフンなし)</h5>
        <%= f.text_field :phone_number, class: "form-control", autofocus: true, autocomplete: "phone_number" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-2 sm-5 mb-4">
        <%= f.submit "編集内容を保存", class: "btn btn-success mt-2" %>
      </div>
  <% end %>
      <div class="col-md-2 sm-5 mb-4">
      <%= link_to "退会手続きへ", public_customers_confirm_path, class: "btn btn-danger mt-2" %>
    </div>
    </div>
  </div>
</div>