<div class="text-center my-5">
  <h2>マイページ</h2>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-2 mt-4 offset-1">
      <h5>登録情報</h5>
    </div>
    <% unless @customer.guest_customer? %>
    <div class="col-2 mt-3">
      <%= link_to "編集する", edit_public_customer_path, class: "btn btn-success" %>
    </div>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <div class="col-5 mt-4">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th style="width: 40%; background-color: #a57f5e;">氏名</th>
            <td class="table-light"><%= @customer.first_name %><%= @customer.last_name %></td>
          </tr>
          <tr>
            <th style="width: 40%; background-color: #a57f5e;">カナ</th>
            <td class="table-light"><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <th style="width: 40%; background-color: #a57f5e;">電話番号</th>
            <td class="table-light"><%= @customer.phone_number %></td>
          </tr>
          <tr>
            <th style="width: 40%; background-color: #a57f5e;">メールアドレス</th>
            <td class="table-light"><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <% unless @customer.guest_customer? %>
    <div class="col-2 mt-4 offset-1">
      <h5>注文履歴一覧</h5>
    </div>
    <div class="col-2 mt-3">
      <%= link_to "一覧を表示する", public_orders_path, class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>