<div class="text-center mt-5">
  <h3>ログイン</h3>
</div>
<div class='container p-5'>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row justify-content-center">
      <div class="col-md-6 sm-8 mb-4">
        <h5>メールアドレス</h5>
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6 sm-8 mb-4">
        <h5>パスワード(6文字以上)</h5>
        <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
      </div>
    </div>
    <div class="text-center">
      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary mt-2" %>
      </div>
    </div>
  <% end %>
</div>




<%= render "admin/shared/links" %>
