<div class="container">
  <div class="row text-center my-5">
    <div class="col">
      <h1>わたしといぬ</h1>
    </div>
  </div>
</div>

<!DOCTYPE html>
<html>
<head>
  <style>
    .my-item {
      opacity: 0; /*不透明度を指定*/
      transition: opacity 1s; /*1秒の時間をかけてアニメーションさせる効果*/
    }
  </style>
</head>
<body>
  <div id="container" class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 my-item d-flex align-items-stretch">
          <%= image_tag("sample-dog1.jpg", class: "img-fluid", alt: "Dog Image") %>
      </div>
      <div class="col-sm-6 col-md-3 my-item d-flex align-items-stretch">
          <%= image_tag("sample-food1.jpg", class: "img-fluid", alt: "Food Image") %>
      </div>
      <div class="col-sm-6 col-md-3 my-item d-flex align-items-stretch">
          <%= image_tag("sample-coffee2.jpg", class: "img-fluid", alt: "Coffee Image") %>
      </div>
      <div class="col-sm-6 col-md-3 my-item d-flex align-items-stretch">
          <%= image_tag("sample-cake1.png", class: "img-fluid", alt: "Cake Image") %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3 my-item d-flex align-items-stretch">
          <%= image_tag("sample-building1.jpg", class: "img-fluid", alt: "Building Image") %>
      </div>
      <div class="col-sm-6 col-md-3 my-item d-flex align-items-stretch">
          <%= image_tag("sample-building3.jpg", class: "img-fluid", alt: "Building Image") %>
      </div>
      <div class="col-sm-6 col-md-3 my-item d-flex align-items-stretch">
          <%= image_tag("sample-building4.jpg", class: "img-fluid", alt: "Building Image") %>
      </div>
      <div class="col-sm-6 col-md-3 my-item d-flex align-items-stretch">
          <%= image_tag("sample-building2.jpg", class: "img-fluid", alt: "Building Image") %>
      </div>
    </div>
  </div>

  <script>
    var items = document.querySelectorAll(".my-item");
    var delay = 1000; // アイテムの表示間隔を設定します（1秒ごと）

    Array.prototype.forEach.call(items, function(item, index) {
      setTimeout(function() {
        item.style.opacity = "1"; // 一定の遅延後にアイテムを完全に表示します
      }, index * delay);
    });
  </script>
</body>
</html>

<div class="container">
  <div class="row mt-4 justify-content-center">
    <div class="col">
      <%= image_tag 'sample-ribbon1.png', size: '450x23' %>
    </div>
    <div class="col ml-4">
      <h4>新着商品</h4>
    </div>
    <div class="col">
      <%= image_tag 'sample-ribbon1.png', size: '450x23' %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-2">
      <%= render "layouts/genre", genres: @genres %>
    </div>
    <div class="col">
      <div class="row">
        <% @items.each do |item| %>
          <div class="col mb-4">
            <%= link_to public_item_path(item.id) do%>
              <div class="card border-0 shadow-sm" style="width: 10rem;">
                <%= image_tag item.image, class: "card-img-top rounded hover-zoom", style: "object-fit: cover; width: 100%; height: 7rem;" %>
                <!--rounded:画像に丸みを帯びたスタイル--> <!--`object-fit: cover;`のスタイルは、画像のアスペクト比を維持しながら要素のサイズに合わせて画像をリサイズする-->
                <div class="card-body">
            <% end %>
                <h5 class="card-title"><%= item.name %></h5>
                <p class="card-text"><%= (item.tax_included_price * 1.1).floor %>円 (税込)</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
