<div class="text-center my-5" style="position: relative;">
  <%= image_tag 'sample-ribbon4.png', size: '450x60' %>
  <h3 style="position: absolute; top: 58%; left: 50%; transform: translate(-50%, -50%);">ショッピングカート</h3>
</div>

<div class="container">
  <% if customer_signed_in? %>
  <%= form_with model: @order, url: public_orders_confirm_path, method: :get, local: true, id:"order_form" do |f_order| %>
  <div class="row justify-content-center">
    <div class="col-6">
      <table class="table table-bordered">
        <% if @cart_items.present? %>
          <thead>
            <tr>
              <th style="width: 25%; background-color: #a57f5e;">お受け取り日</th>
              <td style="width: 25%; background-color: white;"><%= f_order.date_field :receipt_date %></td>
              <!--value="今日の日付-->
            </tr>
          </thead>
          <tbody>
            <tr>
              <th style="width: 25%; background-color: #a57f5e;">お受け取り可能時間</th>
              <td style="width: 25%; background-color: white;"><%= f_order.time_field :receipt_time %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>

  <td id="destroy_all_buttons_<%= destroy_all.id %>" >
    <%= render "layouts/destroy_all", cart_items: cart_items %>
  </td>

  <table class="table table-bordered">
    <thead>
      <th style="width: 35%; background-color: #a57f5e;">商品名</th>
      <th style="background-color: #a57f5e;">単価(税込)</th>
      <th style="background-color: #a57f5e;">数量</th>
      <th style="background-color: #a57f5e;">小計</th>
      <th style="width: 10%; background-color: #a57f5e;">商品を</th>
    </thead>
    <tbody>
    <td id="destroy_buttons_<%= destroy.id %>" >
      <%= render "layouts/destroy", cart_items: cart_items %>
    </td>
    </tbody>
  </table>
    <div class="row">
      <div class="col-2 offset-1 mt-4">
        <%= link_to "買い物を続ける", public_items_path, class: "btn btn-primary" %>
      </div>
      <% if @cart_items.present? %>
        <% total_price = 0 %> <!-- 合計金額を保持する変数を初期化 -->
          <% @cart_items.each do |cart_item| %>
          <!-- 金額を合計変数に加える -->
          <% total_price += cart_item.item.with_tax_price * cart_item.amount %>
        <% end %>
        <div class="col-3 ml-auto mt-4">
          <table class="table table-bordered">
            <tr>
              <td style="width: 40%; background-color: #a57f5e;">合計金額</td>
              <td class="table-light"><%= total_price %>円</td>
            </tr>
          </table>
        </div>
      <% end %>
  <% end %>
    </div>
    <div class="row justify-content-center">
      <% if @cart_items.present? %>
        <div class="col-2 mt-3">
          <a href = "javascript:document.getElementById('order_form').submit()" class = "btn btn-success" >注文手続きに進む</a>
                    <!--form_withがネストできないために、javascript使用  document: cart_items(画面) getElementById ＝ id:"order_form"-->
        </div>
      <% end %>
    </div>
  <% end %>
</div>

