<div class="text-center my-5">
  <h3>ショッピングカート</h3>
</div>
<div class="container">
  <% if customer_signed_in? %>
  <div class="row justify-content-center">
    <div class="col-6">
      <table class="table table-bordered">
        <%= form_with model: @cart_item, url: public_cart_item_path(cart_item.id), method: :patch, local: true do |f| %>
        <thead>
          <tr>
            <th style="width: 25%; background-color: #dee2e6;">お受け取り日</th>
            <td style="width: 25%;"><%= f.date_field :receipt_date %></td>
            <!--value="今日の日付-->
          </tr>
        </thead>
        <% end %>
        <tbody>
          <tr>
            <th style="width: 25%; background-color: #dee2e6;">お受け取り可能時間</th>
            <td style="width: 25%;">
              <input type="time" min="09:00" max="17:00">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <div class="row">
      <div class="col-2 my-4 ml-auto">
        <%= link_to "カートを空にする", public_cart_items_destroy_all_path, method: :delete, data: { confirm: '本当に空しますか?' }, class:"btn btn-danger" %>
      </div>
    </div>
  <table class="table table-bordered">
    <thead>
      <th style="width: 35%;">商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th style="width: 10%;">数量を</th>
      <th style="width: 10%;">商品を</th>
    </thead>
    <tbody>
    <% if @cart_items.present? %>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= image_tag cart_item.item.image, style: "width: 60px;" %>　<%= cart_item.item.name %></td>
          <td><%= cart_item.item.with_tax_price %>円</td>
            <%= form_with model: @cart_item, url: public_cart_item_path(cart_item.id), method: :patch, local: true do |f| %>
              <td><%= f.hidden_field :item_id, value: cart_item.item.id %>
              <!--ユーザには表示されない情報`:item_id`パラメータ名を指定：`value: cart_item.item.id`は、隠しフィールドの初期値を指定-->
              <%= f.number_field :amount, value: cart_item.amount, class: 'form-control' %></td>
            <% end %>
          <td><%= cart_item.item.with_tax_price * cart_item.amount %>円</td>
          <td><%= button_to "変更する", public_cart_item_path(cart_item.id), method: :patch, class: "btn btn-success" %></td>
          <td><%= button_to "削除する", public_cart_item_path(cart_item.id), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    <% else %>
      <td colspan="6">商品は入っていません。</td>
    <% end %>
    </tbody>
  </table>
    <div class="row">
      <div class="col-2 offset-1 mt-4">
        <%= link_to "買い物を続ける", public_items_path, class: "btn btn-primary" %>
      </div>
      <% if @cart_items.present? %>
        <% total_price = 0 %> <!-- 合計金額を保持する変数を初期化 -->
          <% @cart_items.each do |cart_item| %>
          <!-- 金額を合計変数に加える -->
          <% total_price += cart_item.item.with_tax_price * cart_item.amount %>
        <% end %>
        <div class="col-3 ml-auto mt-4">
          <table class="table table-bordered">
            <tr>
              <td style="width: 40%;">合計金額</td>
              <td><%= total_price %>円</td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
    <div class="row justify-content-center">
      <div class="col-2 mt-3">
        <%= link_to "注文手続きに進む", public_order_path(@cart_items), class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
