<div class="text-center my-5">
  <h2>ショッピングカート</h2>
</div>

<div class="container">
  <%= form_with model: @order, url: public_orders_confirm_path, method: :get, local: true, id:"order_form" do |f_order| %>
    <div class="row justify-content-center">
      <div class="col-7">
        <span style="color: red;"><h5>＊お受け取り日は今日以降を選択してください。</h5></span>
        <span style="color: red;"><h5>＊お受け取り時間は現在時間＋1時間後の時間を選択してください。</h5></span>
        <table class="table table-bordered">
          <% if @cart_items.present? %>
            <thead>
              <tr>
                <th style="width: 25%; background-color: #a57f5e;">お受け取り日</th>
                <td style="width: 25%; background-color: white;">
                  <%= f_order.date_field :receipt_date, class: 'form-control', id: 'order_receipt_date' %>

                  <script>
                    document.getElementById('order_receipt_date').addEventListener('input', function() {
                      var selectedDate = new Date(this.value);
                      var today = new Date();  // Get current date

                      // Compare selected date with today's date
                      if (selectedDate < today) {
                        alert('過去の日付は選択できません。');
                        this.value = '';  // Clear the date or set it to a valid future date
                      } else {
                        enableTimeSelection();  // Enable time selection for future dates
                      }

                      // Check if the selected date is a Monday
                      if (selectedDate.getDay() === 1) {
                        alert('毎週月曜日は定休日の為選択できません。');
                        this.value = '';  // Clear the date or set it to a valid future date
                      }
                    });

                    function enableTimeSelection() {
                      document.getElementById('order_receipt_time').removeAttribute('disabled');
                    }
                  </script>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th style="width: 25%; background-color: #a57f5e;">お受け取り時間</th>
                <td style="width: 25%; background-color: white;">
                  <%= f_order.time_field :receipt_time, class: 'form-control', step: 1800, disabled: true, id: 'order_receipt_time' %>

                  <script>
                    document.getElementById('order_receipt_time').addEventListener('input', function() {
                      // 時間指定の制限が必要な場合はここに追加
                    });
                  </script>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>

    <% if @cart_items.present? %>
      <div class="row">
        <div class="col-2 my-4 ml-auto">
          <%= link_to "カートを空にする", public_cart_items_destroy_all_path, method: :delete, data: { confirm: '本当に空にしますか?' }, class:"btn btn-danger", style: "word-break: keep-all" %>
        </div>
      </div>
    <% end %>
    <table class="table table-bordered">
      <thead>
        <th style="width: 35%; background-color: #a57f5e;">商品名</th>
        <th style="background-color: #a57f5e;">単価(税込)</th>
        <th style="background-color: #a57f5e;">数量</th>
        <th style="background-color: #a57f5e;">小計</th>
        <th style="width: 10%; background-color: #a57f5e;">商品を</th>
      </thead>
      <tbody>
        <% if @cart_items.present? %>
          <% @cart_items.each do |cart_item| %>
            <tr class="table-light">
              <td><%= image_tag cart_item.item.image, style: "width: 60px;" %>　<%= cart_item.item.name %></td>
              <td><%= (cart_item.item.tax_included_price*1.1).floor %>円</td>
              <td>
                <%= f_order.fields_for cart_item, index: cart_item.item.id do |item_form| %>
                  <%= item_form.number_field :amount, value: cart_item.amount, class: 'form-control', data: { price: cart_item.item.with_tax_price }, min: 1, max: 30 %>
                <% end %>
              </td>
              <td>
                <span class="price"><%= cart_item.item.with_tax_price * cart_item.amount %>円</span>
              </td>
              <td><%= link_to "削除する", public_cart_item_path(cart_item), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-danger", style: "word-break: keep-all" %></td>
            </tr>
          <% end %>
        <% else %>
          <td colspan="6">商品は入っていません。</td>
        <% end %>
      </tbody>
    </table>
    <div class="row">
      <div class="col-2 offset-1 mt-4">
        <%= link_to "買い物を続ける", public_items_path, class: "btn btn-primary", style: "word-break: keep-all" %>
      </div>
      <% if @cart_items.present? %>
        <% total_price = 0 %> <!-- 合計金額を保持する変数を初期化 -->
        <% @cart_items.each do |cart_item| %>
          <!-- 金額を合計変数に加える -->
          <% total_price += cart_item.item.with_tax_price * cart_item.amount %>
        <% end %>
        <div class="col-3 ml-auto mt-4">
          <table class="table table-bordered">
            <tr>
              <td style="width: 40%; background-color: #a57f5e;">合計金額</td>
              <td class="table-light"><%= total_price %>円</td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
    <div class="row justify-content-center">
      <% if @cart_items.present? %>
        <div class="col-2 mt-3">
          <a href="javascript:document.getElementById('order_form').submit()" class="btn btn-success" style="word-break: keep-all">注文手続きに進む</a>
          <!--form_withがネストできないために、javascript使用  document: cart_items(画面) getElementById ＝ id:"order_form"-->
        </div>
      <% end %>
    </div>
  <% end %>
</div>

