<div class='container'>
  <div class='row'>
    <div class="col-md-10 bg-white p-5 mx-auto rounded-lg">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
      <div>
        <table>
          <tr>
            <th>姓</th>
            <th></th>
            <th>名</th>
          </tr>
          <tr>
            <td><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %></td>
            <td></td>
            <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></td>
          </tr>
          <tr>
            <th>姓カナ</th>
            <th></th>
            <th>名カナ</th>
          </tr>
          <tr>
            <td><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %></td>
            <td></td>
            <td><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
          </tr>
          <tr>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <th>電話番号(ハイフンなし)</th>
          </tr>
          <tr>
            <td><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %></td>
          </tr>
          <tr>
            <th>パスワード(6文字以上)</th>
          </tr>
          <tr>
            <td><%= f.password_field :password, autocomplete: "new-password" %></td>
          </tr>
          <tr>
            <th>パスワード(確認用)</th>
          </tr>
          <tr>
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          </tr>
          <tr>
            <td><%= f.submit "新規登録", class:"btn btn-success mt-2" %></td>
          </tr>
        </table>
      </div>
      <% end %>

      <h4 class="mt-4">既に登録済みの方</h4>
      <p class="mb-0">
        <%= link_to "こちら", new_customer_session_path %>
        からログインしてください。
      </p>
    </div>
  </div>
</div>

