<div class="container">
  <div class="row my-3 justify-content-center">
    <div class="col-4 text-center">
      <table class="table table-bordered">
        <thead>
          <tr style="background-color: #a57f5e;">
            <th>お受け取り日時</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="row mb-5 text-center">
    <div class="col">
      <%= @order.receipt_date %> / <%= @order.receipt_time %>
    </div>
  </div>
  <div class="col-9 ml-auto">
    <% @items.each do |item| %>
      <div class="row mb-4">
        <div class="col-4">
          <%= image_tag item.image, class: "w-100" %>
        </div>
        <div class="col-8">
          <h5><%= item.name %></h5>
          <div class="row">
            <div class="col-12">
              税込：<%= (item.tax_included_price * 1.1).floor %>円
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              数量：<%= item.amount %>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              小計：<%= item.with_tax_price * item.amount.to_i %>円
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>
  <div class="row mt-5 justify-content-center">
    <div class="col-4 text-center">
      <table class="table table-bordered">
        <thead>
          <tr style="background-color: #a57f5e;">
            <th>お会計</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <% total_price = 0 %> <!-- 合計金額を保持する変数を初期化 -->
    <% @cart_items.each do |cart_item| %>
    <!-- 金額を合計変数に加える -->
    <% total_price += cart_item.item.with_tax_price * cart_item.amount %>
  <% end %>
　<div class="row mt-3">
　  <div class="col-5 ml-auto">
　    商品数量合計：<%= @total_amount %>
　  </div>
　</div>
　<div class="row">
　  <div class="col-5 ml-auto">
　    合計金額：<%= total_price %>円
　  </div>
　</div>

　<div class="row mt-5 justify-content-center">
    <div class="col-4 text-center">
      <table class="table table-bordered">
        <thead>
          <tr style="background-color: #a57f5e;">
            <th>支払方法</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="row mt-3">
　  <div class="col-5 ml-auto">
　    <%= form_with model: @order, url: public_orders_path, method: :post do |f| %>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <%= f.hidden_field :receipt_date, value: @order.receipt_date %>
        <%= f.hidden_field :receipt_time, value: @order.receipt_time %>
        <%= f.radio_button :payment_method, :credit_card, checked: true %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card], {value: :credit_card} %><br>
        <%= f.radio_button :payment_method, :pay_store %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:pay_store], {value: :pay_store} %>
        <%= f.hidden_field :charge, value: total_price  %>
        <%= f.hidden_field :is_receipt, value: "not_received" %>
    </div>
  </div>
　<div class="row mt-3 ml-5 justify-content-center">
　  <div class="col-2">
　    <%= link_to "カートに戻る", public_cart_items_path, class: "btn btn-danger" %>
　  </div>
    <div class="col-2">
        <%= f.submit "注文を確定する", class: "btn btn-primary" %>
      <% end %>
　  </div>
　</div>
</div>
