<div class="text-center my-5" style="position: relative;">
  <%= image_tag 'sample-ribbon2.png', size: '450x60' %>
  <h3 style="position: absolute; top: 58%; left: 50%; transform: translate(-50%, -50%);">注文履歴一覧</h3>
</div>

<div class='container'>
  <div class='row'>
    <div class="col-md-12 p-5 mx-auto rounded-lg">

      <table class="table table-bordered">
        <thead>
          <th style="width: 15%; background-color: #a57f5e;">注文日</th>
          <th style="background-color: #a57f5e;">受け取り日時</th>
          <th style="background-color: #a57f5e;">注文商品</th>
          <th style="background-color: #a57f5e;">支払金額</th>
          <th style="background-color: #a57f5e;">受け取り状況</th>
          <th style="width: 15%; background-color: #a57f5e;">注文詳細</th>
        </thead>
        <tbody>
          <% if @orders.present? %>
            <% @orders.each do |order| %>
              <tr class="table-light">
                <td><%= order.receipt_date %></td>
                <td><%= order.receipt_time %></td>
                <td>
                <% order.order_details.each do |order_detail| %>
                  ・<%= order_detail.item.name %>
                <% end %>
                </td>
                <td>
                  <%= order.charge %>円
                </td>
                <td><%= content_tag(:div, class: order.is_receipt ? "text-success" : "text-danger") do %>
                      <%= order.is_receipt ? content_tag(:strong, "未受け取り") : content_tag(:strong, "受け取り済み") %>
                    <% end %>
                </td>
                <td><%= link_to "表示する", public_order_path(order), class: "btn btn-primary" %></td>
              </tr>
            <% end %>
          <% else %>
            <td colspan="6">注文履歴はありません。</td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>