<div class="text-center my-5" style="position: relative;">
  <%= image_tag 'sample-ribbon1.png', size: '450x60' %>
  <h3 style="position: absolute; top: 58%; left: 50%; transform: translate(-50%, -50%);">注文履歴詳細</h3>
</div>
<div "container">
  <div class='row py-4 mx-5 rounded-lg'>
    <div class='col-6 offset-1'>
      <h4>注文情報</h4>
      <table class='table table-bordered border-dark'>
        <tr><th style="background-color: #a57f5e;">注文日</th>
           <td style="width: 78%; background-color: white;"><%= @order.receipt_date %> : <%= @order.receipt_time %></td>
          </tr>
          <tr><th style="background-color: #a57f5e;">氏名</th>
            <td class="table-light">
              <%= @order.customer.first_name %><%= @order.customer.last_name %>
            </td>
          </tr>
          <tr><th style="background-color: #a57f5e;">支払方法</th>
            <td class="table-light"><%= t("enums.order.payment_method.#{@order.payment_method}") %></td>
          </tr>
          <tr><th style="background-color: #a57f5e;">ステータス</th>
            <td class="table-light">
              <%= content_tag(:div, class: @order.is_receipt ? "text-success" : "text-danger") do %>
                <%= @order.is_receipt ? content_tag(:strong, "未受け取り") : content_tag(:strong, "受け取り済み") %>
              <% end %>
            </td>
          </tr>
        </th>
      </table>
    </div>
  </div>

  <div class='row mx-5 rounded-lg'>
    <div class='col-7 offset-1'>
      <h4>注文内容</h4>
      <table class='table table-bordered border-dark'>
        <tr style="background-color: #a57f5e;">
          <th>商品名</th>
          <th>単価(税抜)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
        <% total = 0 %>
        <% @order_details.each do |order_detail| %>
          <tr>
            <td style="width: 55%; background-color: white;"><%= order_detail.item.name %></td>
            <td style="width: 20%; background-color: white;"><%= order_detail.tax_included_price %>円</td>
            <td class="table-light"><%= order_detail.amount %></td>
            <td class="table-light"><%= order_detail.amount * order_detail.tax_included_price %>円</td>
          </tr>
        <% end %>
      </table>
    </div>
     <div class='col-4 mt-auto'>
      <h4>請求情報</h4>
      <table class="table table-bordered border-dark">
        <tr><th style="background-color: #a57f5e;">ご請求額</th>
        <td style="width: 65%; background-color: white;"><%= @order.charge %>円</td></tr>
      </table>
    </div>
  </div>
</div>