<div class="text-center my-5" style="position: relative;">
  <%= image_tag 'ribbon_b.png', size: '450x60' %>
  <h3 style="position: absolute; top: 58%; left: 50%; transform: translate(-50%, -50%);">ログイン</h3>
</div>
<div class='container p-5'>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row justify-content-center">
      <div class="col-md-6 sm-8 mb-4">
        <h5>メールアドレス</h5>
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6 sm-8 mb-4">
        <h5>パスワード(6文字以上)</h5>
        <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
      </div>
    </div>
    <div class="text-center">
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary mt-2" %>
      </div>
      <h4 class="mt-4">会員登録がお済みでない方</h4>
      <p class="mb-0">
        <%= link_to "こちら", new_customer_session_path %>から新規会員登録してください。
      </p>
    </div>
  <% end %>
</div>


